entregaveis/wf_ingestao.json
{
  "id": "ap2ingestaoWF001",
  "name": "AP2 - Ingestao do Catalogo",
  "nodes": [
    {
      "parameters": {},
      "id": "20000000-0000-4000-8000-000000000001",
      "name": "Iniciar Ingestao",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/alvaroriz/datascience_datasets/refs/heads/main/Catalogo-Produtos.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 60000
        }
      },
      "id": "20000000-0000-4000-8000-000000000002",
      "name": "Baixar CSV do Catalogo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -980,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.data || $input.first().json.body || '';\nconst text = typeof raw === 'string' ? raw : String(raw);\n\n// Parser de CSV com separador ';' tolerante a aspas\nfunction parseCSV(str) {\n  const rows = [];\n  let row = [], field = '', inQuotes = false;\n  for (let i = 0; i < str.length; i++) {\n    const c = str[i];\n    if (inQuotes) {\n      if (c === '\"' && str[i + 1] === '\"') { field += '\"'; i++; }\n      else if (c === '\"') inQuotes = false;\n      else field += c;\n    } else {\n      if (c === '\"') inQuotes = true;\n      else if (c === ';') { row.push(field); field = ''; }\n      else if (c === '\\n') { row.push(field); rows.push(row); row = []; field = ''; }\n      else if (c === '\\r') { /* ignora */ }\n      else field += c;\n    }\n  }\n  if (field.length || row.length) { row.push(field); rows.push(row); }\n  return rows;\n}\n\nconst rows = parseCSV(text).filter(r => r.length > 1);\nif (rows.length < 2) throw new Error('CSV vazio ou ilegivel.');\n\nconst header = rows[0].map(h => (h || '').trim());\nconst idx = name => header.indexOf(name);\n\nfunction toFloat(v) {\n  if (v == null) return 0.0;\n  let s = String(v).replace('%', '').replace(',', '.').trim();\n  const n = parseFloat(s);\n  return isNaN(n) ? 0.0 : n;\n}\nfunction clean(v) {\n  if (v == null) return null;\n  const s = String(v).trim();\n  return s.length ? s : null;\n}\n\nconst col = {\n  sap: idx('CÓDIGO SAP'),\n  apres: idx('APRESENTAÇÃO'),\n  princ: idx('PRINCIPIO ATIVO'),\n  ean: idx('CÓDIGO EAN'),\n  fam: idx('FAMÍLIA'),\n  tipo: idx('TIPO DE MEDICAMENTO'),\n  registro: idx('REGISTRO MS'),\n  ncm: idx('NCM (CLASS FISCAL)'),\n  pis: idx('% Pis'),\n  cofins: idx('% Cofins'),\n  i0pf: idx('ICMS 0 % (PF)'), i0pmc: idx('ICMS 0 % (PMC)'),\n  i12pf: idx('ICMS 12 %  (PF)'), i12pmc: idx('ICMS 12 % (PMC) '),\n  i17pf: idx('ICMS 17 % (PF)'), i17pmc: idx('ICMS 17 % (PMC)'),\n  i175pf: idx('ICMS 17,5 % (PF)'), i175pmc: idx('ICMS 17,5 % (PMC)'),\n  i18pf: idx('ICMS 18 %  (PF)'), i18pmc: idx('ICMS 18 %  (PMC)'),\n  i20pf: idx('ICMS 20 % (PF)'), i20pmc: idx('ICMS 20 % (PMC)')\n};\n\nconst out = [];\nfor (let r = 1; r < rows.length; r++) {\n  const row = rows[r];\n  const codigo_sap = clean(row[col.sap]);\n  const apresentacao = clean(row[col.apres]);\n  if (!codigo_sap || !apresentacao) continue;\n\n  const principio_ativo = clean(row[col.princ]);\n  const ean = clean(row[col.ean]);\n  const familia = clean(row[col.fam]);\n  const tipo = clean(row[col.tipo]);\n\n  const page_content = 'Apresentação: ' + apresentacao +\n    '. Princípio Ativo: ' + (principio_ativo || '') +\n    '. Código SAP: ' + codigo_sap +\n    '. Código EAN: ' + (ean || '') +\n    '. Família: ' + (familia || '') +\n    '. Tipo: ' + (tipo || '') + '.';\n\n  const metadata = {\n    codigo_sap, apresentacao, principio_ativo,\n    registro_ms: clean(row[col.registro]),\n    ncm: clean(row[col.ncm]),\n    pis_perc: toFloat(row[col.pis]),\n    cofins_perc: toFloat(row[col.cofins]),\n    icms_0_pf: toFloat(row[col.i0pf]), icms_0_pmc: toFloat(row[col.i0pmc]),\n    icms_12_pf: toFloat(row[col.i12pf]), icms_12_pmc: toFloat(row[col.i12pmc]),\n    icms_17_pf: toFloat(row[col.i17pf]), icms_17_pmc: toFloat(row[col.i17pmc]),\n    icms_17_5_pf: toFloat(row[col.i175pf]), icms_17_5_pmc: toFloat(row[col.i175pmc]),\n    icms_18_pf: toFloat(row[col.i18pf]), icms_18_pmc: toFloat(row[col.i18pmc]),\n    icms_20_pf: toFloat(row[col.i20pf]), icms_20_pmc: toFloat(row[col.i20pmc])\n  };\n\n  out.push({ json: { chunk_id: 'sap_' + codigo_sap, page_content, metadata } });\n}\n\nif (out.length === 0) throw new Error('Nenhum produto valido gerado a partir do CSV.');\nreturn out;"
      },
      "id": "20000000-0000-4000-8000-000000000003",
      "name": "Gerar Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -760,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000004",
      "name": "Loop Lotes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:1234/v1/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"text-embedding-bge-m3\", input: $json.page_content }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "20000000-0000-4000-8000-000000000005",
      "name": "Gerar Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -320,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const emb = $input.first().json;\nconst chunk = $('Loop Lotes').item.json;\nconst embedding = emb.data && emb.data[0] ? emb.data[0].embedding : null;\nif (!embedding || embedding.length !== 1024) {\n  throw new Error('Embedding invalido para chunk ' + chunk.chunk_id + ' (dim ' + (embedding ? embedding.length : 'null') + ').');\n}\n\nconst linha = {\n  chunk_id: chunk.chunk_id,\n  content: chunk.page_content,\n  metadata: JSON.stringify(chunk.metadata),\n  embedding: '[' + embedding.join(',') + ']'\n};\n\n// Acumula as linhas no static data do workflow (persiste entre iteracoes do loop).\n// Assim, ao fim do loop, \"Coletar Linhas\" tem TODAS as linhas para um unico upsert.\nconst store = $getWorkflowStaticData('global');\nif (!Array.isArray(store.linhas)) store.linhas = [];\nstore.linhas.push(linha);\n\nreturn [{ json: linha }];"
      },
      "id": "20000000-0000-4000-8000-000000000006",
      "name": "Montar Linha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Le todas as linhas acumuladas no static data ao longo do loop e limpa o\n// acumulador (para uma proxima execucao comecar do zero).\nconst store = $getWorkflowStaticData('global');\nconst linhas = Array.isArray(store.linhas) ? store.linhas : [];\nstore.linhas = [];\n\nif (linhas.length === 0) {\n  throw new Error('Nenhuma linha montada para inserir (o loop nao produziu dados).');\n}\n// Emite uma linha por item -> o Upsert nativo processa todas numa unica transacao.\nreturn linhas.map(json => ({ json }));"
      },
      "id": "20000000-0000-4000-8000-000000000009",
      "name": "Coletar Linhas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        480
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "chunk_id"
          ],
          "value": {
            "chunk_id": "={{ $json.chunk_id }}",
            "content": "={{ $json.content }}",
            "metadata": "={{ $json.metadata }}",
            "embedding": "={{ $json.embedding }}"
          },
          "schema": [
            {
              "id": "chunk_id",
              "displayName": "chunk_id",
              "type": "string",
              "canBeUsedToMatch": true,
              "required": false,
              "display": true
            },
            {
              "id": "content",
              "displayName": "content",
              "type": "string",
              "canBeUsedToMatch": true,
              "required": false,
              "display": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "type": "string",
              "canBeUsedToMatch": true,
              "required": false,
              "display": true
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "type": "string",
              "canBeUsedToMatch": true,
              "required": false,
              "display": true
            }
          ]
        },
        "options": {
          "queryBatching": "transaction"
        }
      },
      "id": "20000000-0000-4000-8000-000000000007",
      "name": "Upsert Documents",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        480
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "postgres": {
          "id": "0q9fmzjhdeb4axTQ",
          "name": "supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ok",
              "name": "status",
              "value": "ingestao concluida",
              "type": "string"
            },
            {
              "id": "n",
              "name": "linhas_inseridas",
              "value": "={{ $('Coletar Linhas').all().length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000008",
      "name": "Fim",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        480
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "et",
              "name": "_etapa",
              "value": "Download do catalogo (CSV)",
              "type": "string"
            },
            {
              "id": "cp",
              "name": "_componente",
              "value": "fonte de dados (URL do CSV)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "20000000-0000-4000-8000-0000000000e1",
      "name": "Erro Download CSV",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -980,
        760
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "et",
              "name": "_etapa",
              "value": "Geracao de chunks",
              "type": "string"
            },
            {
              "id": "cp",
              "name": "_componente",
              "value": "parsing do CSV",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "20000000-0000-4000-8000-0000000000e2",
      "name": "Erro Chunks",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        760
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "et",
              "name": "_etapa",
              "value": "Geracao de embedding",
              "type": "string"
            },
            {
              "id": "cp",
              "name": "_componente",
              "value": "embeddings (LM Studio)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "20000000-0000-4000-8000-0000000000e3",
      "name": "Erro Embedding Ing",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        760
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "et",
              "name": "_etapa",
              "value": "Upsert no banco",
              "type": "string"
            },
            {
              "id": "cp",
              "name": "_componente",
              "value": "banco vetorial (Supabase/pgvector)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "20000000-0000-4000-8000-0000000000e4",
      "name": "Erro Upsert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        760
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ? $input.first().json : {};\nconst err = item.error || {};\n\n// Procura a mensagem mais especifica disponivel (varia conforme o no/erro).\nlet msg = 'Falha durante a ingestao.';\nconst candidatos = [\n  typeof item.error === 'string' ? item.error : null,\n  err && err.description,\n  err && err.cause && err.cause.message,\n  err && Array.isArray(err.messages) && err.messages.length ? err.messages.join(' | ') : null,\n  err && err.message,\n  item.message\n].filter(Boolean);\nif (candidatos.length) msg = candidatos[0];\n\n// A etiqueta da etapa vem do no Set anterior; se faltar, infere pela mensagem.\nlet etapa = item._etapa;\nlet componente = item._componente;\nif (!etapa) {\n  const t = (msg || '').toLowerCase();\n  if (/sql|postgres|relation|column|database|vector|pgvector|duplicate|constraint/.test(t)) {\n    etapa = 'Upsert no banco'; componente = 'banco vetorial (Supabase/pgvector)';\n  } else if (/timeout|econnrefused|fetch|socket|network|enotfound|http|connect/.test(t)) {\n    etapa = 'Geracao de embedding'; componente = 'embeddings (LM Studio)';\n  } else if (/csv|ilegivel|vazio|produto valido/.test(t)) {\n    etapa = 'Geracao de chunks'; componente = 'parsing do CSV';\n  } else {\n    etapa = 'Ingestao'; componente = 'fluxo interno';\n  }\n}\n\nconst relatorio = '[INGESTAO FALHOU] etapa: ' + etapa + ' | componente: ' + componente + ' | erro: ' + msg;\nreturn [{ json: { status: 'erro', etapa, componente, erro: msg, relatorio } }];"
      },
      "id": "20000000-0000-4000-8000-0000000000c1",
      "name": "Tratar Erro Ingestao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        920
      ]
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.relatorio }}"
      },
      "id": "20000000-0000-4000-8000-0000000000c2",
      "name": "Parar com Erro",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -100,
        920
      ]
    },
    {
      "parameters": {
        "content": "## ⚠️ Tratamento de Erros (por etapa)\nCada etapa de I/O (download do CSV, geração de chunks, embedding e upsert) tem seu **onError** → um nó **\"Erro: ...\"** que carimba a etapa e o componente, convergindo no **Tratar Erro Ingestao**. Ele monta um relatório claro e dispara **Parar com Erro** (Stop and Error), travando a ingestão com diagnóstico — sem falha silenciosa.",
        "height": 360,
        "width": 1400,
        "color": 3
      },
      "id": "20000000-0000-4000-8000-0000000000a1",
      "name": "Sticky Erros Ingestao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        700
      ]
    },
    {
      "parameters": {
        "content": "## ⚡ Estratégia\nEmbeddings gerados **chunk a chunk** no loop (LM Studio). As linhas são **acumuladas** e gravadas em **um único upsert em massa** (uma transação) ao final — em vez de um insert por chunk. Menos round-trips ao banco.",
        "height": 200,
        "width": 460,
        "color": 5
      },
      "id": "20000000-0000-4000-8000-0000000000a2",
      "name": "Sticky Performance",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        240
      ]
    }
  ],
  "connections": {
    "Iniciar Ingestao": {
      "main": [
        [
          {
            "node": "Baixar CSV do Catalogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar CSV do Catalogo": {
      "main": [
        [
          {
            "node": "Gerar Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro Download CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Chunks": {
      "main": [
        [
          {
            "node": "Loop Lotes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Lotes": {
      "main": [
        [
          {
            "node": "Coletar Linhas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Embedding": {
      "main": [
        [
          {
            "node": "Montar Linha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro Embedding Ing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Linha": {
      "main": [
        [
          {
            "node": "Loop Lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Linhas": {
      "main": [
        [
          {
            "node": "Upsert Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Documents": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro Download CSV": {
      "main": [
        [
          {
            "node": "Tratar Erro Ingestao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro Chunks": {
      "main": [
        [
          {
            "node": "Tratar Erro Ingestao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro Embedding Ing": {
      "main": [
        [
          {
            "node": "Tratar Erro Ingestao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro Upsert": {
      "main": [
        [
          {
            "node": "Tratar Erro Ingestao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar Erro Ingestao": {
      "main": [
        [
          {
            "node": "Parar com Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}