n8n/orcamento-farmaceutico-hibrido.json
{
  "name": "Orcamento Farmaceutico Hibrido",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:1234/v1/embeddings",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify({ model: \"local-model\", input: $json.email }) }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "bge-m3-Q8_0.gguf"
            },
            {
              "name": "input",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "88f1d82e-528b-4941-bb6c-a60c62a42ecc",
      "name": "Gerar Embedding da Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -992,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst embeddingResponse = $input.first().json;\nconst email = $('Entrada do Formulario').first().json.email;\nconst embedding = embeddingResponse.data[0].embedding;\nconst vectorStr = '[' + embedding.join(',') + ']';\n\n// Monta query semantica\nconst semanticQuery = \"SELECT chunk_id, content, metadata, 1 - (embedding <=> '\" + vectorStr + \"'::vector) AS score FROM documents ORDER BY embedding <=> '\" + vectorStr + \"'::vector LIMIT 20\";\n\n// Extrai termos para busca lexical\nconst stopwords = new Set([\n  'para', 'com', 'por', 'que', 'uma', 'uns', 'das', 'dos', 'nos', 'nas',\n  'seu', 'sua', 'orcamento', 'gostaria', 'receber', 'enviem', 'envie',\n  'quero', 'favor', 'att', 'ola', 'seguintes', 'produto', 'produtos',\n  'solicitacao', 'abaixo', 'segue', 'bom', 'dia', 'tarde', 'noite'\n]);\nconst codes = email.match(/\\b\\d{6,7}\\b/g) || [];\nconst words = (email.match(/\\b[A-Za-z\\u00C0-\\u00FF0-9]{4,}\\b/g) || [])\n  .filter(w => !stopwords.has(w.toLowerCase()))\n  .slice(0, 20);\n\nconst conditions = [];\ncodes.forEach(c => conditions.push(\"metadata->>'codigo_sap' = '\" + c + \"'\"));\nwords.forEach(w => conditions.push(\"content ILIKE '%\" + w + \"%'\"));\nconst whereClause = conditions.length > 0 ? conditions.join(' OR ') : '1=0';\nconst lexicalQuery = \"SELECT chunk_id, content, metadata, 1.0 AS score FROM documents WHERE \" + whereClause + \" LIMIT 20\";\n\nreturn [{ json: { email, semanticQuery, lexicalQuery } }];\n"
      },
      "id": "93846a95-8efe-4892-94c2-a179ea9f2599",
      "name": "Preparar Buscas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.semanticQuery }}",
        "options": {}
      },
      "id": "6ecb3740-6f3b-42ce-bfeb-cdb5c41e41d4",
      "name": "Busca Semantica",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -544,
        336
      ],
      "credentials": {
        "postgres": {
          "id": "0q9fmzjhdeb4axTQ",
          "name": "supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst results = items.map((item, idx) => ({\n  chunk_id: item.json.chunk_id,\n  content: item.json.content,\n  metadata: item.json.metadata,\n  semantic_rank: idx + 1\n}));\nreturn [{ json: { semanticResults: results } }];\n"
      },
      "id": "7c8f940e-1cca-4282-a306-92670e51aa46",
      "name": "Coletar Semantica",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        336
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "949f5412-9312-4520-bcc8-a3c566ec2271",
      "name": "Merge Resultados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.lexicalQuery }}",
        "options": {}
      },
      "id": "a6e7fd35-5ecc-4576-b3d8-97bcb661fa41",
      "name": "Busca Lexical",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -544,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "0q9fmzjhdeb4axTQ",
          "name": "supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst results = items.map((item, idx) => ({\n  chunk_id: item.json.chunk_id,\n  content: item.json.content,\n  metadata: item.json.metadata,\n  lexical_rank: idx + 1\n}));\nreturn [{ json: { lexicalResults: results } }];\n"
      },
      "id": "ac6e7b79-b97f-4760-964c-e223739dbbb7",
      "name": "Coletar Lexical",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst email = $('Entrada do Formulario').first().json.email;\nconst semanticResults = $input.first().json.semanticResults || [];\nconst lexicalResults = $input.first().json.lexicalResults || [];\n\nconst K = 60; // constante padrao do RRF\nconst scores = {};\nconst docs = {};\n\n// Score semantico\nsemanticResults.forEach((doc, idx) => {\n  const id = doc.chunk_id;\n  if (!scores[id]) scores[id] = 0;\n  scores[id] += 1 / (K + idx + 1);\n  docs[id] = doc;\n});\n\n// Score lexical\nlexicalResults.forEach((doc, idx) => {\n  const id = doc.chunk_id;\n  if (!scores[id]) scores[id] = 0;\n  scores[id] += 1 / (K + idx + 1);\n  if (!docs[id]) docs[id] = doc;\n});\n\n// Ordena por RRF score e pega top 10\nconst topDocs = Object.entries(scores)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 10)\n  .map(([id, score]) => ({ ...docs[id], rrf_score: score.toFixed(4) }));\n\nconst catalogText = topDocs.map(doc => {\n  const m = doc.metadata;\n  return 'Produto: ' + m.apresentacao +\n    '\\nCodigo SAP: ' + m.codigo_sap +\n    '\\nRRF Score: ' + doc.rrf_score +\n    '\\nPrecos PF  - ICMS12: R$' + m.icms_12_pf + ' | ICMS17: R$' + m.icms_17_pf + ' | ICMS18: R$' + m.icms_18_pf + ' | ICMS20: R$' + m.icms_20_pf +\n    '\\nPrecos PMC - ICMS12: R$' + m.icms_12_pmc + ' | ICMS17: R$' + m.icms_17_pmc + ' | ICMS18: R$' + m.icms_18_pmc + ' | ICMS20: R$' + m.icms_20_pmc +\n    '\\nDescricao: ' + doc.content;\n}).join('\\n\\n---\\n\\n');\n\nconst formatoJSON = '{\"itens\":[{\"produto\":\"\",\"codigo\":\"\",\"quantidade\":0,\"preco_unitario\":0.0,\"preco_total\":0.0}],\"cliente\":{\"tipo\":\"\",\"uf\":\"\"},\"total\":0.0}';\n\nconst systemMessage = 'Voce e um sistema de cotacao de medicamentos farmaceuticos. '\n  + 'Receberá uma mensagem de solicitacao de orcamento e produtos encontrados no catalogo ordenados por relevancia (RRF Score). '\n  + 'Sua tarefa: '\n  + '1) Identificar quais produtos correspondem ao solicitado. '\n  + '2) Extrair quantidades (padrao 1 se nao informado). '\n  + '3) Identificar tipo de cliente: PF, PJ ou Revenda. '\n  + '4) Identificar UF se mencionada. '\n  + '5) Calcular precos: PF e PJ usam icms_17_pf, Revenda usa icms_17_pmc, sem UF usa icms_17_pf. '\n  + '6) preco_total = quantidade x preco_unitario. '\n  + '7) Somar total geral. '\n  + 'Responda APENAS com JSON valido, sem markdown, sem texto adicional: '\n  + formatoJSON;\n\nconst userMessage = 'Mensagem do cliente:\\n' + email\n  + '\\n\\nProdutos mais relevantes (ordenados por RRF Score):\\n\\n' + catalogText;\n\nconst body = {\n  model: 'gemma-3n-e4b-it-text',\n  messages: [\n    { role: 'system', content: systemMessage },\n    { role: 'user', content: userMessage }\n  ],\n  temperature: 0.1,\n  max_tokens: 1024,\n  stream: false\n};\n\nreturn [{ json: { body } }];\n"
      },
      "id": "40974cd3-3265-4f22-8f0a-5ce28f078945",
      "name": "Aplicar RRF e Montar Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-field",
              "name": "email",
              "value": "={{ $json[\"Itens e dados do cliente\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "473213ff-2d8c-454d-ab48-ae94c4e75b69",
      "name": "Entrada do Formulario",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c9c935da-3adf-41fd-a88f-b069ecaf9bb6",
      "name": "Chamar LM Studio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst response = $input.first().json;\nconst content = response.choices[0].message.content.trim();\ntry {\n  const jsonStr = content.replace(/```json/g, '').replace(/```/g, '').trim();\n  const orcamento = JSON.parse(jsonStr);\n  return [{ json: orcamento }];\n} catch(e) {\n  return [{ json: { erro: 'Falha ao parsear JSON', raw: content } }];\n}\n"
      },
      "id": "ae20a251-6504-46a1-b0e4-01f4b169d9b6",
      "name": "Extrair JSON do Orcamento1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        432
      ]
    },
    {
      "parameters": {
        "formTitle": "Solicitação de Orçamento Farmacêutico",
        "formDescription": "Cole o e-mail ou liste os itens do pedido. Inclua quantidades e, se possível, o tipo de cliente (PF, PJ ou Revenda) e a UF.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Itens e dados do cliente",
              "fieldType": "textarea",
              "placeholder": "Ex.:\n10x ACICLOVIR 200MG COM BLX25\n10x BIOMAG 15MG CAP BLX30\n\nJose Farmacia - Rio de Janeiro - RJ",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f0a11111-2222-4333-8444-555566667777",
      "name": "Formulario de Orcamento",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1424,
        432
      ],
      "webhookId": "7e29c666-1218-4bf1-9866-735e28451c8b"
    },
    {
      "parameters": {
        "jsCode": "\nconst orc = $input.first().json;\nconst esc = s => String(s == null ? '' : s)\n  .replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst brl = v => 'R$ ' + Number(v || 0).toFixed(2).replace('.', ',')\n  .replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n\nlet body;\nif (orc && orc.erro) {\n  body = '<div class=\"erro\"><h2>Não foi possível gerar o orçamento</h2>'\n    + '<p>' + esc(orc.erro) + '</p><pre>' + esc(orc.raw || '') + '</pre></div>';\n} else {\n  const itens = (orc.itens || []);\n  const cli = orc.cliente || {};\n  const linhas = itens.map(it =>\n    '<tr><td>' + esc(it.produto) + '</td>'\n    + '<td class=\"c\">' + esc(it.codigo) + '</td>'\n    + '<td class=\"r\">' + esc(it.quantidade) + '</td>'\n    + '<td class=\"r\">' + brl(it.preco_unitario) + '</td>'\n    + '<td class=\"r\">' + brl(it.preco_total) + '</td></tr>'\n  ).join('');\n  const tipo = esc(cli.tipo || '—');\n  const uf = esc(cli.uf || '—');\n  body =\n    '<div class=\"meta\">'\n    + '<div><span class=\"lbl\">Tipo de cliente</span><span class=\"val\">' + tipo + '</span></div>'\n    + '<div><span class=\"lbl\">UF</span><span class=\"val\">' + uf + '</span></div>'\n    + '<div><span class=\"lbl\">Itens</span><span class=\"val\">' + itens.length + '</span></div>'\n    + '</div>'\n    + '<table><thead><tr><th>Produto</th><th>Código SAP</th>'\n    + '<th class=\"r\">Qtd.</th><th class=\"r\">Preço unit.</th><th class=\"r\">Subtotal</th>'\n    + '</tr></thead><tbody>' + linhas + '</tbody>'\n    + '<tfoot><tr><td colspan=\"4\" class=\"r\">Total</td>'\n    + '<td class=\"r total\">' + brl(orc.total) + '</td></tr></tfoot></table>';\n}\n\nconst html =\n'<!DOCTYPE html><html lang=\"pt-BR\"><head><meta charset=\"UTF-8\">'\n+ '<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">'\n+ '<title>Orçamento Farmacêutico</title><style>'\n+ ':root{--ac:#2f6df6;--ink:#1f2733;--mut:#67727f;--line:#e4e8ef;--bg:#f5f7fb}'\n+ '*{box-sizing:border-box}body{margin:0;background:var(--bg);color:var(--ink);'\n+ 'font-family:-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;line-height:1.5}'\n+ '.sheet{max-width:820px;margin:32px auto;background:#fff;border:1px solid var(--line);'\n+ 'border-radius:14px;overflow:hidden;box-shadow:0 6px 24px rgba(20,40,80,.06)}'\n+ '.hd{background:linear-gradient(135deg,#2f6df6,#5b8bff);color:#fff;padding:26px 30px}'\n+ '.hd h1{margin:0;font-size:22px;letter-spacing:-.3px}'\n+ '.hd p{margin:4px 0 0;opacity:.9;font-size:13.5px}'\n+ '.body{padding:24px 30px 30px}'\n+ '.meta{display:flex;gap:14px;flex-wrap:wrap;margin-bottom:18px}'\n+ '.meta>div{flex:1;min-width:120px;background:var(--bg);border:1px solid var(--line);'\n+ 'border-radius:10px;padding:10px 14px}'\n+ '.lbl{display:block;font-size:11px;text-transform:uppercase;letter-spacing:.5px;color:var(--mut)}'\n+ '.val{display:block;font-size:17px;font-weight:600;margin-top:2px}'\n+ 'table{width:100%;border-collapse:collapse;font-size:14px}'\n+ 'th,td{padding:10px 12px;border-bottom:1px solid var(--line);text-align:left}'\n+ 'th{font-size:11.5px;text-transform:uppercase;letter-spacing:.4px;color:var(--mut);'\n+ 'background:#fafbfe}.r{text-align:right}.c{text-align:center;color:var(--mut)}'\n+ 'tfoot td{border-top:2px solid var(--ink);border-bottom:none;font-weight:700;font-size:15px}'\n+ '.total{color:var(--ac);font-size:18px}'\n+ '.erro{padding:10px}.erro pre{background:#fff5f5;border:1px solid #ffd6d6;'\n+ 'border-radius:8px;padding:12px;overflow:auto;font-size:12px}'\n+ '.ft{padding:14px 30px;border-top:1px solid var(--line);color:var(--mut);font-size:12px;text-align:center}'\n+ '</style></head><body><div class=\"sheet\">'\n+ '<div class=\"hd\"><h1>Orçamento Farmacêutico</h1>'\n+ '<p>Gerado automaticamente por busca híbrida (semântica + lexical) + LLM</p></div>'\n+ '<div class=\"body\">' + body + '</div>'\n+ '<div class=\"ft\">Valores sujeitos a confirmação. Documento gerado por sistema RAG.</div>'\n+ '</div></body></html>';\n\nreturn [{ json: { html } }];\n"
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Gerar HTML do Orcamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        432
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ $json.html }}",
        "options": {}
      },
      "id": "b9c8d7e6-f5a4-4b3c-9d2e-1f0a9b8c7d6e",
      "name": "Responder HTML",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1024,
        432
      ],
      "webhookId": "9b1d4c2a-3e5f-4a6b-8c7d-2e1f0a9b8c7d"
    }
  ],
  "pinData": {},
  "connections": {
    "Gerar Embedding da Query": {
      "main": [
        [
          {
            "node": "Preparar Buscas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Buscas": {
      "main": [
        [
          {
            "node": "Busca Semantica",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca Lexical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Semantica": {
      "main": [
        [
          {
            "node": "Coletar Semantica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Semantica": {
      "main": [
        [
          {
            "node": "Merge Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Resultados": {
      "main": [
        [
          {
            "node": "Aplicar RRF e Montar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Lexical": {
      "main": [
        [
          {
            "node": "Coletar Lexical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Lexical": {
      "main": [
        [
          {
            "node": "Merge Resultados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aplicar RRF e Montar Prompt": {
      "main": [
        [
          {
            "node": "Chamar LM Studio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada do Formulario": {
      "main": [
        [
          {
            "node": "Gerar Embedding da Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar LM Studio1": {
      "main": [
        [
          {
            "node": "Extrair JSON do Orcamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulario de Orcamento": {
      "main": [
        [
          {
            "node": "Entrada do Formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair JSON do Orcamento1": {
      "main": [
        [
          {
            "node": "Gerar HTML do Orcamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar HTML do Orcamento": {
      "main": [
        [
          {
            "node": "Responder HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "id": "Lv0fvpRryNgAffjK",
  "tags": []
}